In [7]:
import pandas as pd
import random
# read the data from the downloaded CSV file.
data = pd.read_excel('HospitalDatabase.xlsx','Patients')
# set a numeric id for use as an index for examples.

In [16]:
data.iloc[100:199,1:3]

    FirstName   LastName
100     Calla    Wasiela
101     Gipsy   Frankton
102    Jethro     Wharin
103       Viv    Aylward
104     Swift  Dreschler
..        ...        ...
194  Cummings     Malbon
195  Cathlene    Kidwell
196      Noam   Laguerre
197      Arie    Bayless
198    Janaye    O'Mohun

[99 rows x 2 columns]

In [19]:
data.iloc[1:2,3]

1   1985-11-15 02:08:42.090
Name: DateOfBirth, dtype: datetime64[ns]